body {
    background-image: url("background image");
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat;
}

h2{
    text-align: center;
    color: gold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    max-width: 12000px; 
    margin: auto; 
}

.card {
    background-color: silver;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 18%;
    text-align: center;
    
}


.card h3 {
    margin: 10px 0 5px;
    color: #007bff;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

.player-img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}
